.host {
    position: relative;
}

.overlay {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.menu {
    animation: zoom-in var(--animation-short) ease;
    background: var(--color-alt-border);
    font-size: var(--font-normal);
    max-height: 80vh;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 3;
}

.toolbar .menu {
    max-width: var(--space-x-large);
    position: absolute;
}

.close {
    float: right;
}

@media only screen and (min-width: 384px) {
    .menu {
        max-width: 352px;
        position: absolute;
    }

    .narrow .menu {
        max-width: 256px;
    }
}

@media only screen and (min-width: 1280px) {
    .menu {
        /*right: calc(65% + var(--space-small));*/
    }
}

@keyframes zoom-in {
    0% {
        opacity: 0;
        transform: scale(0, 0) translate(50%, -300%);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1) translate(0, 0);
    }
}
