.Empty {
    align-items: center;
    background: var(--color-border);
    color: var(--color-primary);
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: var(--font-large);
    justify-content: center;
    padding: 0 var(--space-medium);
    text-align: center;
}

.Empty__Image {
    margin-bottom: var(--space-medium);
    max-width: 80%;
}

@media only screen and (min-width: 1280px) {
    .Empty {
        font-size: var(--font-x-large);
    }
}
