.host {
    flex: 1;
    position: relative;
}

.host:hover .icon {
    color: var(--color-tertiary);
}

.input {
    background: transparent;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    color: var(--color-primary);
    font-size: var(--font-normal);
    height: 3.2rem;
    margin: var(--space-x-small);
    padding: 0;
    transition: all var(--animation-standard);
    width: 3.2rem;
}

.input:active,
.input:focus,
.input:not(:placeholder-shown) {
    border-radius: 0;
    background: var(--color-background);
    height: var(--space-x-large);
    margin: 0;
    outline: none;
    padding: 0 var(--space-x-large);
    width: 100%;
}

.icon {
    background: transparent;
    border: 0;
    box-sizing: content-box;
    color: var(--color-secondary);
    cursor: pointer;
    font-size: var(--font-large);
    height: var(--font-large);
    left: var(--space-x-small);
    pointer-events: none;
    position: absolute;
    top: 1.2rem;
    transition: color var(--animation-standard);
    width: var(--font-large);
}

.secondary {
    position: absolute;
    right: 0;
    top: 0;
}
