.host {
    animation: fade-in 0.3s ease;
    background: transparent;
    border: 0;
    box-sizing: content-box;
    color: var(--color-accent);
    font-size: var(--font-large);
    height: var(--font-x-large);
    padding: var(--space-x-small);
    transition: all var(--animation-standard);
    width: var(--font-x-large);
}

.host:not(:disabled):focus,
.host:not(:disabled):hover {
    color: var(--color-accent-secondary);
    outline: none;
}

.host:disabled {
    opacity: 0.5;
}

.large {
    padding: 1.2rem;
}

.right {
    float: right;
}

.secondary {
    color: var(--color-secondary);
}

.secondary:focus,
.secondary:hover {
    color: var(--color-tertiary);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
