.notes {
    background: var(--color-border);
    position: relative;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    min-width: 0; /* Fix for text overflow in flex child. */
}

.primaryActions {
    display: flex;
    flex: 1;
}

.placeholder {
    align-items: center;
    display: none;
    font-size: var(--font-large);
    justify-content: center;
}

.user {
    margin: var(--space-small);
}

.userName {
    font-weight: 400;
    margin: 0;
}

@media only screen and (min-width: 1024px) {
    .notes {
        flex-basis: 35%;
    }

    .placeholder {
        background: var(--color-border);
        display: flex;
        flex-basis: 65%;
    }
}
