.placeholder {
    align-items: center;
    display: none;
    font-size: var(--font-large);
    justify-content: center;
}

@media only screen and (min-width: 1024px) {
    .placeholder {
        background: var(--color-border);
        display: flex;
        flex-basis: 62%;
    }
}

@media only screen and (min-width: 1920px) {
    .placeholder {
        background: var(--color-border);
        display: flex;
        flex-basis: 70%;
    }
}
