.tag {
    font-size: var(--font-small);
    max-width: calc(var(--space-x-large) * 2);
    color: var(--color-secondary);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 4.8rem;
}
