.host {
    flex: 1;
    list-style: none;
    margin: 0;
    min-width: 0; /* Fix for text overflow in flex child. */
    overflow: auto;
    padding: 0;
}

.item {
    /* Fix for new note getting additional height in Chrome. */
    height: var(--space-x-large);
    position: relative;
}

.button {
    background: var(--color-background);
    border: 0;
    border-bottom: 1px solid var(--color-border);
    color: var(--color-primary);
    cursor: pointer;
    display: flex;
    font-size: var(--font-normal);
    height: var(--space-x-large);
    line-height: var(--space-x-large);
    padding: 0 var(--space-medium) 0
        calc(var(--space-x-large) + var(--space-small));
    text-align: left;
    transition: all var(--animation-long);
    width: 100%;
}

.button:focus,
.button:hover {
    background: var(--color-alt-background);
    color: var(--color-alt-primary);
    outline: none;
}

.button:active {
    background: var(--color-border);
    outline: none;
}

.item:last-child .button {
    border-bottom: none;
}

.selected .button {
    background: var(--color-alt-background);
}

.pin {
    left: var(--space-x-small);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.title {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tags {
    color: var(--color-secondary);
    max-width: 33%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
