.host {
    background: var(--color-background);
    border: 0;
    box-sizing: border-box;
    color: var(--color-primary);
    flex: 1;
    font-size: 1.6rem;
    padding: 1.3rem 2.4rem;
    resize: none;
    width: 100%;
}

.host:focus {
    outline: none;
}
